---
# Setup OCP SNO Helper Node

- hosts: all
  vars_files:
    - ../defaults/main.yaml
  handlers:
  - import_tasks: ../handlers/main.yml

  tasks:
  - name: Validate configuration
    include_tasks: validate_config.yaml

  - name: Clean up work directory
    file:
      path: "{{ workdir }}/"
      state: absent

  - name: Set setup facts
    include_tasks: set_facts.yaml

  - name: Setup required services
    #become: true
    include_tasks: setup_services.yaml

  - name: setup tftp
    #become: true
    include_tasks: setup_tftp.yaml

  - name: Download OCP files
    #become: true
    include_tasks: download_files.yaml

  - name: Setup Local Registry
    #become: true
    when: setup_registry is defined and setup_registry.deploy
    block:
    - name: Install registry packages
      become: true
      package:
        name: "{{ registry }}"
        state: present

    - name: Setup Registry
      include_tasks: setup_registry.yaml

  - name: Start firewalld service
    become: true
    systemd:
      name: firewalld
      state: started
      enabled: yes

  - name: Open up firewall ports
    become: true
    firewalld:
      permanent: yes
      immediate: yes
      state: enabled
      port: "{{ item[0] }}"
    delegate_to: "{{ item[1] }}"
    run_once: true
    with_nested:
      - "{{ ports }}"
      - "{{ ansible_play_batch }}"

  - name: Best effort SELinux repair - Apache
    become: true
    shell: "restorecon -vR /var/www/html || true"


  - name: Systemd daemon reload
    become: true
    systemd:
      daemon_reload: yes

  - name: Starting services
    become: true
    service:
      name: "{{ item }}"
      enabled: yes
      state: restarted
    with_items:
      - "{{ services }}"

  - name: Wait for dnsmasq to be ready
    become: true
    wait_for:
      port: "{{ item }}"
      host: 0.0.0.0
      timeout: 30
      msg: "dnsmasq failed to start listening on port {{ item }}"
    with_items:
      - 53   # DNS
      - 67   # DHCP/BOOTP
      - 69   # TFTP
    when: dhcp.enabled | default(true)

  - name: Wait for dnsmasq DNS/TFTP to be ready (static IP mode)
    become: true
    wait_for:
      port: "{{ item }}"
      host: 0.0.0.0
      timeout: 30
      msg: "dnsmasq failed to start listening on port {{ item }}"
    with_items:
      - 53   # DNS
      - 67   # DHCP/BOOTP (still needed for lpar_netboot)
      - 69   # TFTP
    when: not (dhcp.enabled | default(true))

  - name: Verify dnsmasq service status
    become: true
    systemd:
      name: dnsmasq
      state: started
    register: dnsmasq_status
    failed_when: dnsmasq_status.status.ActiveState != 'active'

  # DISABLED: This task overwrites /etc/resolv.conf and breaks external DNS resolution
  # The helper node needs to use system DNS to resolve HMC and other external hosts
  # Configure DNS via NetworkManager or manually, then make resolv.conf immutable
  # - name: Set the local resolv.conf file
  #   become: true
  #   template:
  #     src: ../templates/resolv.conf.j2
  #     dest: /etc/resolv.conf

  - name: create ocp install files
    include_tasks: create_ocp_files.yaml

  - name: Netboot all the LPARs
    include_tasks: netboot.yaml

  - name: Waiting for bootstrap completed
    shell: "openshift-install wait-for bootstrap-complete --log-level {{ log_level }}"
    args:
      chdir: "{{ workdir }}"

  - name: Waiting for installation completed
    shell: "openshift-install wait-for install-complete --log-level {{ log_level }}"
    args:
      chdir: "{{ workdir }}"

  - name: stop httpd after installation completed
    service:
      name: httpd
      state: stopped